/* Global */
html, body {
    margin: 0;
    overflow: hidden;
    -webkit-app-region: drag;
}

* {
    overflow: none;
}

button, input, .link {
    -webkit-app-region: no-drag;
}

/* Layout */
main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

#search {
    background: #201F1D;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-app-region: drag;
}

#titlebar {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    align-self: flex-start;
}

#product {
    background: #DCDCDC;
    flex: 1;
    display: relative;
    flex-direction: column;
    overflow: hidden;
}

#card {
    background: #f1f1f1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
}

/* Title bar */
#titlebar div {
    width: 20px;
    height: 20px;
    margin: 12px 5px;
    border-radius: 100px;
    -webkit-app-region: no-drag;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
}

#titlebar div > * {
    margin-top: 5px;
    font-size: 0.6em;
    color: black;
}

#button-close {
    background: #FF1C00;
}

#button-close:hover {
    background: #FF4C30;
}

#button-online {
    background: #F9FF02;
    filter: grayscale(1);
}

#button-online.online {
    filter: grayscale(0);
}

#button-online.online:hover {
    background: #FBFF4E;
}

#button-exit {
    background: #201deb;
}

#button-exit:hover {
    background: #5552ff;
}

.hidden {
    visibility: hidden;
}

/* Tags & search bar */
#searchbar {
    width: 80%;
    margin-top: 20px;
    position: relative;
    background: #363534;
    -webkit-app-region: no-drag;
}

#searchbar-button {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    background: rgba(54, 53, 52, 0.9);
    padding: 6px 12px;
    font-size: 1.3em;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.tags-input{
    display: flex;
    flex-direction: row;
    padding:6px;
    box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
    height: 2em;
    width: 90%;
    max-width: 90%;
    overflow: hidden;
    -webkit-app-region: no-drag;
    color: #E9E9E8;
}

.tags-input .tag{
    display:inline-block;
    white-space: nowrap;
    background:#EBBB91;
    color: #222;
    padding:0 4px;
    margin:2px;
    border-radius:2px;
    font:inherit;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:pointer;
    transition:all .1s ease
}

.tags-input .tag.selected {
    background-color:#DE8D47;
    border-color:#DE8D47;
    color:#EEE;
}

.tags-input .tag.dupe{
    -webkit-transform:scale3d(1.2,1.2,1.2);
    transform:scale3d(1.2,1.2,1.2);
    background-color:#C66;
    color: white;
}

.tags-input input{
    display: inline-block !important;
    -webkit-appearance:none!important;
    -moz-appearance:none!important;
    appearance:none!important;
    display:inline-block!important;
    padding:3px;
    margin:0!important;
    background:0 0!important;
    border:none!important;
    box-shadow:none!important;
    font:inherit!important;
    font-size:100%!important;
    outline:0!important;
    color:white;
}

.tags-input .selected~input{
    opacity:.3
}

/* Search results list */
#searchbody {
    margin-top: 20px;
    width: 80%;
    height: 65%;
    -webkit-app-region: drag;
}

.pane-hidden {
    display: none !important;
}

#searchresult, #searchlist {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#searchlist {
    overflow-y: scroll;
    -webkit-app-region: no-drag;
}

#searchlist * {
    -webkit-app-region: no-drag;
    user-select: none;
}

.searchlist-product:hover * {
    cursor: pointer;
    background: #E5A46C;
}

.searchlist-product.active * {
    background: #DE8D47;
}

#more {
    align-self: center;
    position: relative;
    bottom: 0;
}

#more:hover {
    background: #DE8D47;
}

#searchresult .uk-pagination {
    align-self: center;
}

.uk-pagination-previous, .uk-pagination-next {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.cc-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Other search panes */
#cantsearch, #nosearch, #waitsearch, #errorsearch, #emptysearch {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-app-region: drag;
}

#cantsearch .logo,
#nosearch .logo,
#waitsearch .logo,
#errorsearch .logo,
#emptysearch .logo {
    font-size: 10em;
    height: 10em;
}

#loader {
    all: initial;
    position: relative;
    width: 200px;
    height: 14em;
}

#loader .img {
    width:100px;
    height:100px;
    border-radius:100%;
    position:absolute;
    border: 1px solid #DE8D47;
    animation: up 1s;
    animation-iteration-count: infinite;
    transition:2s;
    border-bottom:none;
    border-right:none;
    animation-timing-function:linear;
    margin-left: -70px;
    margin-top: -70px;
    left:50%;
    top:50%;
}

@keyframes up {
    from{transform:rotate(0deg); }
    50%{transform:rotate(180deg);}
    100%{transform:rotate(360deg);}
}

#loader #img2 {
    width:90px;
    height:90px;
    left:50.35%;
    top:50.7%;
    animation-delay:.2s;
}

#loader #img3 {
    width:80px;
    height:80px;
        left:50.70%;
    top:51.4%;
    animation-delay:.4s;
}

#loader #img4 {
    width:70px;
    height:70px;
        left:51.05%;
    top:52.1%;
    animation-delay:.6s;
}

#loader #img5 {
    width:60px;
    height:60px;
    left:51.40%;
    top:52.8%;
    animation-delay:.8s;
}

/* Details */
.details-card {
    width: 70%;
    height: 100%;
    background: #ffefff;
}

.details-tab, .details-no-drag {
    -webkit-app-region: no-drag;    
}

.details-tab-body:not(.details-active) {
    display: none;
}
