* {box-sizing: border-box;}

body {
  padding: 10px;
}

ul {
    list-style-type: none;
    position: absolute;
    width: 95%;
    overflow: scroll;
    height: 80%;
    border: 2px solid #ccc;
    align-self: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

li {
    width: 100%;
    height: 60px;
    display: inline-block;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
}
#single-div {
    width: 16.66%;
    height: 100%;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
#single-div img{
    height: 38px;
    width: 100px;
    margin-top: 0px;
}
h3{
    text-align: center;
}
span{
    display: inline-block;
    padding-top: 10px;
}

#banner {
    text-align: center;
    text-transform: uppercase;
    color: #494747;
}